@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Octopus Deploy Config as Code Demo Web App</h1>
    <p>
        This application is a simple web app that demonstrates the use of Octopus Deploy Config as Code.
    </p>
    <p>
        Application settings are stored in Octopus Deploy and are retrieved at runtime.
    </p>
</div>
